* {
  padding-left: 0px;
  padding-right: 0px;
  scroll-behavior: smooth;

}

body, html {
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
  height: 100vh;
  /* For scroling effect
  scroll-snap-type: y proximity ;
  scroll-snap-points-y: repeat(300px);
  */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 0px 0px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Cairo', sans-serif;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:  #002db3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*
For the scroling effect 
.child {
  scroll-snap-align: start;
}

*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


.block_1 {
  background-color: inherit;
  background-image: url("../images/Cyber_Robotics/space.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;

 
}

.image1 {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  width: 800px;
  height: 800px;
  position: absolute;
}

.title {
  margin-top: 180px;
  margin-right: 185px;
  float: right;
}

.block1_text {
  margin-right: 250px;
  margin-top: 25px;
  color: white;
  float: right;
  max-width: 800px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-family: 'Cairo', sans-serif;
}

.block_2 {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  letter-spacing: 3px;
  height:  100vh;
  padding-top: 80px;
}





.image2 img{
  float: right;
  margin-top: 90px;
  margin-right: 80px;
  width: 660px;
  height: 660px;
  position: relative;

  
}
.block_2 h3{
  text-align: center;
  font-size: 100px;
  margin-top:0;
  margin-bottom: 0;
  font-weight:initial;
  font-family: 'Montserrat', sans-serif;


}

.block_2 p{
  margin-left: 25px;
  margin-right: 25px;
}
.block_2 .block_buttons{
  float: left;
  margin-left:330px;
  margin-top:150px;
}
.block_2 .block_button {
  
  background-color: inherit;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  transition-duration: 0.3s;
  border-width: 2px;
  border-color: #cccccc;
  text-transform: uppercase;
  margin-right: 100px;
}


.block_2 .block_button:hover {
  background-color: #cccccc; 
  border-color: #cccccc;
  color: Black;
  font-family: 'Overpass', sans-serif;

}
.block_2 .block_button:focus { 
  outline:0 !important;
  border-style: outset;
 }


.block_3 {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  letter-spacing: 3px;
  height:  100vh;
}
.sidenav {
  display: none;
}

.button {
  display: none;
}


@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1827px) and (max-width: 1900px) {

  .title{
    margin-right: 100px;
  }
  .block1_text {
    margin-right: 200px;
    font-size: 15px;

  }
  .image1{
    width: 700px;
    height: 700px;
  }

}

@media (min-width: 1571px) and (max-width: 1827px) {

  .title{
    margin-right: 100px;
  }
  .block1_text {
    margin-right: 170px;
    font-size: 15px;

  }
  .image1{
    width: 550px;
    height: 550px;
  }

}

@media (min-width: 1390px) and (max-width: 1570px) {

  .title{

    margin-right: 50px;
  }
  .block1_text {
    margin-right: 50px;
    font-size: 15px;


  }
  .image1{
    width: 550px;
    height: 550px;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 481px) and (max-width: 1389px) {
  .image1 {
    width: 300px;
    height: 300px;

    position: relative;
  }

  .title {

    margin-right: 50px;
    margin-left: 0px;
    margin-top: 150px;
  }

  .block1_text {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    float: right;
    max-width: 800px;
    text-align: center;
  }



}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .button {
    display: block;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 40px;
  }

  .sidenav {
    display: block;
  }

  .image1 {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    position: relative;
  }

  .title {
    align-items: center;
    margin-right: 0px;
    margin-left: 12px;
    margin-top: 30px;
    float: left;
  }

  .block1_text {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    float: right;
    max-width: 800px;
    text-align: center;
  }

  .up_menu {
    display: none;
  }
  .block_2{
    padding-top: 0;
    background-color: black;
  }
  .block_2 p{
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    float: right;
    max-width: 800px;
    text-align: center;
  }

  .block_2 h3{
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 65px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .image2 img {
    display: none;
  }

  .block_2 .block_button {
    background-color: inherit;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    transition-duration: 0.3s;
    border-width: 2px;
    border-color: #cccccc;
    text-transform: uppercase;
    margin-right: 15px;
}

  .block_2 .block_buttons{
      float: left;
      margin-left:50px;
      margin-top:35px;
    }

  .block_3{
    background-color: black;
    height: auto;
  }
}

@media only screen and (min-width: 320px) and  (max-width: 360px) { /*Android*/


  .button {
    display: block;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 30px;
  }
  .title {
    align-items: center;
    margin-right: 0px;
    margin-left: 12px;
    margin-top: 30px;
    float: left;
  }
  .image1 {
    width: 250px;
    height: 250px;
    margin-left: 50px;
    position: relative;
  }
  .block1_text {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    color: white;
    float: right;
    max-width: 800px;
    text-align: center;
    margin-bottom: 100px;
  }
  .block_2 {

      margin-top: 15px;
      line-height: 1.5;
      height: 100vh;
    }

  .block_2 .block_button {
      background-color: inherit;
      color: white;
      padding: 10px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      cursor: pointer;
      font-family: 'Overpass', sans-serif;
      transition-duration: 0.3s;
      border-width: 2px;
      border-color: #cccccc;
      text-transform: uppercase;
      margin-right: 10px;
  }

  .block_2 .block_buttons{
      float: left;
      margin-left:35px;
      margin-top:25px;
    }

  .block_3{
    background-color: black;
    height: auto;
  }


}
