* {
  padding-left: 0px;
  padding-right: 0px;
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 0px 0px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Cairo', sans-serif;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:  #002db3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}



.block_1 {
  background-color: inherit;
  background-image: url("../images/Cyber_Robotics/space.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.image1 {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  width: 800px;
  height: 800px;
  position: absolute;
}


.title {
  margin-top: 180px;
  margin-right: 185px;
  float: right;
}

.block1_text {
  margin-right: 250px;
  margin-top: 25px;
  color: white;
  float: right;
  max-width: 800px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-family: 'Cairo', sans-serif;
}

.block_2 {
  font-family: 'Cairo', sans-serif;
  margin-top: 50px;
  text-align: center;
  color: white;
  background-color: red;
  height: 50%;
  letter-spacing: 3px;
}


.block_2 p{
  margin-left: 25px;
  margin-right: 25px;
}

.sidenav {
  display: none;
}

.button {
  display: none;
}

@media  screen and  (max-width: 1853px) {
  .title{
    margin-right: 25px;
  }
  .block1_text {
    margin-right: 100px;
  }
  .image1{
    width: 750px;
    height: 750px;
  }



}
@media  screen and  (max-width: 1554px) {
  .title{
    margin-right: 5px;
  }
  .block1_text {
    margin-right: 5%;
  }
  .image1{
    width: 750px;
    height: 750px;
  }
}
@media  screen and  (max-width: 1535px) {
  .title{
    margin-right: 5px;
  }
  .block1_text {
    margin-right: 5px;
  }
  .image1{
    width: 6500px;
    height: 6500px;
  }

}
@media  screen and  (max-height: 765px) and (max-width: 1535) {

  .image1{
    width: 650px;
    height: 650px;
  }
}
@media  screen and  (max-height: 581px) {

  .image1{
    width: 600px;
    height: 600px;
  }
}

@media  screen and  (max-height: 509px) {

  .image1{
    width: 400px;
    height: 400px;
  }
}
@media  only screen and (min-width: 360px) and (max-width: 414px) {
  .button {
    display: block;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 40px;
  }

  .sidenav {
    display: block;
  }

  .image1 {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    position: relative;
  }

  .title {
    align-items: center;
    margin-right: 0px;
    margin-left: 12px;
    margin-top: 30px;
    float: left;
  }

  .block1_text {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    float: right;
    max-width: 800px;
    text-align: center;
  }

  .up_menu {
    display: none;
  }
  .block_2 {
    margin-top: 25px;
    height: auto;
  }




}




@media only screen and (min-width: 320px) and  (max-width: 360px) { /*Android*/


  .button {
    display: block;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 30px;
  }
  .title {
    align-items: center;
    margin-right: 0px;
    margin-left: 12px;
    margin-top: 30px;
    float: left;
  }
  .image1 {
    width: 250px;
    height: 250px;
    margin-left: 50px;
    position: relative;
  }
  .block1_text {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 5px;
    color: white;
    float: right;
    max-width: 800px;
    text-align: center;
    margin-bottom: 100px;
  }
  .block_2 {
      margin-top: 25px;
      height: auto;
      line-height: 1.5;

    }

}
